.lenta {
    display: inline-block;
    width: 500px;
    height: 500px;
    background: red;
    margin-top: 100px;
    margin-left: calc( (100% - 500px) / 2);
    border: solid 3px black; 
}
.Nelyginiai-stulpeliai{
    display: inline-block;
    float: left;
    width: 62.5px;
    height: 62.5px;
    background-color: white;
    
}
.Lyginiai-stulpeliai{
    display: inline-block;
    float: left;
    width: 62.5px;
    height: 62.5px;
    background-color: black;
    
}

